@import-normalize;
body {
  background-color: #ff2828;
  overflow: hidden;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cat__image {
  padding-top: 150px;
  width: 700px;
  filter: drop-shadow(4px 8px 16px #fff);

  
}
/* (A) FIXED WRAPPER */
.hwrap {
  overflow: hidden; /* HIDE SCROLL BAR */
  background: transparent;
}
 
/* (B) MOVING TICKER WRAPPER */
.hmove { display: flex; }

/* (C) ITEMS - INTO A LONG HORIZONTAL ROW */
.hitem {
  flex-shrink: 0;
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  /* text-align: center; */
  font-size: 48px;
  font-family: 'Natasha', sans-serif;
  color:#fae100;
}
 
/* (D) ANIMATION - MOVE ITEMS FROM RIGHT TO LEFT */
/* 4 ITEMS -400%, CHANGE THIS IF YOU ADD/REMOVE ITEMS */
@keyframes tickerh {
  0% { transform: translate3d(100%, 0, 0); }
  100% { transform: translate3d(-800%, 0, 0); }
}
.hmove { animation: tickerh linear 75s infinite; }
